+++
title = "DAPLA Developer"
linkTitle = "DAPLA Developer"

+++

{{< blocks/cover title="Welcome to the DAPLA Developer Portal" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/statisticsnorway/dapla-project">
		GitHub <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">The ins and outs of DAPLA from a development perspective</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Hello there! We are the guys behind the scenes, the puppeteers pulling the strings. And this site is about how.

DAPLA is Statistics Norway's Data Platform where a multitude of data sources can be combined to produce statistical products.

With DAPLA it is easy to incorporate new data sources and connect to a common metadata model allowing for powerful data exploration. It is backed by a modern and secure infrastructure hosted in the Cloud. 

blah blah blah...
{{% /blocks/lead %}}

{{< blocks/section color="white" >}}

{{% blocks/feature icon="fab fa-yammer" title="Follow us on Yammer!" url="https://web.yammer.com/main/groups/eyJfdHlwZSI6Ikdyb3VwIiwiaWQiOiI5MDUzMjA2In0/all" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="DAPLA is Open Source!" url="https://github.com/Astatisticsnorway/dapla-project" %}}
Visit our [GitHub repos](https://github.com/search?q=topic%3Adapla+org%3Astatisticsnorway+fork%3Atrue)
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-confluence" title="Yay! We're on Confluence" %}}
Visit our [space](https://statistics-norway.atlassian.net/wiki/spaces/DAPLA)
{{% /blocks/feature %}}
